h1{
    -webkit-animation: aparece 2s ease-out;
    animation: aparece 2s ease-out;
}
@keyframes aparece{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes aparece{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s linear, box-shadow 1s ease-in-out;
    transition-delay: 1s, 0s;
    position: relative;
    animation: quica 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes quica{
    from{
        top: 0;
    }
    90%{
        transform: rotate(-2deg);
    }
    95%{
        transform: rotate(2deg);
    }
    to{
        top: 1em;
    }
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    animation-play-state: paused;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #bbb;
}

.citacao-bio > p {
    position: relative;
}

table{
    border-collapse: separate;
    border-spacing: .25em;
    flex: 1;
}
thead th {
    background-color: #3C1D3D;
    color: white;
    font-weight: bold;
    padding: 1em;
    margin: 1em 0;
    flex: 1;
}
tbody th {
    background-color: #851944;
    color: white;
    font-weight: bold;
    padding: 1em;
    margin: 1em 0;
    flex: 1;
}

table td{
    background-color: #EEE;
    color: inherit;
    font-family: inherit;
    padding: 1em;
    margin: 1em 0;
    vertical-align: middle;
    text-align: center;
    flex: 1;
}

td[colspan]{
    font-style: italic;
}

